/Nodejs/API-Gateway/node_modules
/Nodejs/OrderService/node_modules
/Nodejs/ProductService/node_modules

/Nodejs/API-Gateway/mongo-data
/Nodejs/OrderService/mongo-data
/Nodejs/ProductService/mongo-data

/Spring/service-a/target
/Spring/service-b/target

/Java/Service-1/build
/Java/Service-1/.gradle
/Java/Service-2/build
/Java/Service-2/.gradle